<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urllist</key>
	<dict>
		<key>url1</key>
		<string>https;//1.com</string>
		<key>url2</key>
		<string>https;//2.com</string>
		<key>url3</key>
		<string>https;//3.com</string>
	</dict>
</dict>
</plist>
